<%= render 'navbar' %>

<h1>Mister cocktail</h1>

<ul class='item-list'>
  <% @cocktails.each do |cocktail| %>
    <li class='item'>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
      <%= link_to 'delete', cocktail_path(cocktail), method: :delete %>
    </li>
  <% end %>
  <li class='item'>
    <%= link_to '+ new cocktail', new_cocktail_path %>
  </li>
</ul>

