.item-list {
  margin: 5px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.item img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}


.item {
  background-color: rgba(193, 41, 46, 0.671);
  margin: 5px;
  list-style: none;
  padding: 30px 10px;
  border-radius: 4px;
  width: 500px;
  display: flex;
  align-items: flex-start;

  &:hover {
    background-color: rgba(193, 41, 46, 1);
    border: 1px solid #F4B860;
    padding: 29px 10px;
  }
  &:hover a {
    color: #F4B860;
  }
}

.item .item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item a {
  text-decoration: none;
  color: #F4D6CC;
  &:hover  {
    color: orange;;
  }
}

.card {
  width: 300px;
  background-color: rgba(50, 55, 59, 0.801);
  margin: 5px;
  border-radius: 4px;
  color: white;
}

.card .card-image {
  height: 300px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url(https://assets.afcdn.com/recipe/20180705/80274_w1024h768c1cx2378cy1278cxt0cyt0cxb4799cyb3199.jpg);
  background-position: center;
  background-size: cover;
}