.navbar-lewagon {
  overflow: hidden;
  justify-content: space-between;
  background-color: rgb(37, 29, 29);
  height: 50px;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 0px rgba(255, 215, 84, 0.8);
  font-family: 'Chelsea Market';
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-collapse li {
  flex-grow: 0;
  margin: 0px 50px;
}

.navbar-lewagon .navbar-collapse li a {
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h1 {
  display: inline-block;
  font-size: 30px;
  color: white;
  font-family: 'Chelsea Market';
  text-shadow: 2px 2px 0px rgba(224, 172, 0, 0.8);
}